#pantalla{
    margin: 0 auto;
    text-align:  center;
    width: 500px;
    height: 400px;
    border: 6px solid black;
    font-size: 320px;
    background-color: rgb(214, 96, 96);


}
#espacio2{
    margin: 10px auto;
    text-align: center;
    width: 500px;
    height: 50px;
    font-size:60px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}